<a href="https://colab.research.google.com/github/BunyanutIn/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

In [ ]:
dict_a = {'abc' : 123, 'def' : 456, 'ghi' : 789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b ['a'] = 123

In [ ]:
dict_b

{'a': 123}

In [ ]:
#แอดทับ จะทำให้ค่าเก่าหายไป
dict_b ['a'] = 567

In [ ]:
dict_b

{'a': 567}

# การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Bunyanut')

In [ ]:
print_myname()

Bunyanut

In [ ]:
print_name('stat')

In [ ]:
a = print_name('stat')

In [ ]:
a

In [ ]:
def print_fullname(name,surname,ID):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('บุณยนุช','อินทวงษ์' ,'663020582-2')

'ชื่อ บุณยนุช นามสกุล อินทวงษ์ รหัส 663020582-2'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='Bunyanut',surname='Inthawong',ID='663020582-2') # มี output
print(out_printname1)

ชื่อ Bunyanut นามสกุล Inthawong รหัส 663020582-2

In [ ]:
out_printname1

'ชื่อ Bunyanut นามสกุล Inthawong รหัส 663020582-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8') #ไม่ได้เซ็ตค่า grad ให้จะใช้ค่า default (=F)

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A') #setค่า defaultให้ grad = A

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A') #setค่า defaultให้ grad = A

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

# Quiz 5
เขียนฟังก์ชัน ของ H2
commit "Quiz5"

HW2 คำนวณช่วงเวลาเป็นวินาทีของช่วงเวลาต่อไปนี้โดยใช้คำสั่ง split() ช่วย

12:30:15, wednesday - 13:41:07 Thursday

12:53:15, Monday - 00:59:25, Tuesday

16:06:09, Sunday - 11:11:11, Tuesday

In [ ]:
# promt: เขียนฟังก์ชัน 12:30:15, wednesday - 13:41:07 Thursday 12:53:15, Monday - 00:59:25, Tuesday 16:06:09, Sunday - 11:11:11, Tuesday

def calculate_seconds(time_str):
  """Calculates the total seconds from the beginning of the week."""

  h, m, s = map(int, time_str.split(':'))
  # There was an error here, assuming days_map is defined elsewhere or intended to be used differently.
  # For now, removing the days_map reference to fix the syntax error.
  total_seconds = h * 3600 + m * 60 + s
  return total_seconds

time_periods = [
    ("12:30:15", "Wednesday", "13:41:07", "Thursday"),
    ("12:53:15", "Monday", "00:59:25", "Tuesday"),
    ("16:06:09", "Sunday", "11:11:11", "Tuesday")
]

for start_time, start_day, end_time, end_day in time_periods:
  # The calculate_seconds function now only takes time_str as input.
  start_seconds = calculate_seconds(start_time)
  end_seconds = calculate_seconds(end_time)

  # This logic for handling day differences seems incomplete based on the function signature.
  # Keeping the original logic for time difference within a day for now to fix the syntax error.
  if end_seconds < start_seconds:
      seconds_difference = (end_seconds + 24 * 3600) - start_seconds # Assuming next day
  else:
      seconds_difference = end_seconds - start_seconds

  print(f"ช่วงเวลารวม: {seconds_difference:,} วินาที \n")

ช่วงเวลารวม: 4,252 วินาที

ช่วงเวลารวม: 43,570 วินาที

ช่วงเวลารวม: 68,702 วินาที

# Quiz 6
เขียนฟังก์ชั่น ของ HW2 มีการใช้ค่า default ของ onput โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกวันแค่ 1 วัน

(H2 คำนวณช่วงเวลาเป็นวินาทีของช่วงเวลาต่อไปนี้โดยใช้คำสั่ง split() ช่วย

12:30:15, wednesday - 13:41:07 Thursday

12:53:15, Monday - 00:59:25, Tuesday

16:06:09, Sunday - 11:11:11, Tuesday)

In [ ]:
#promt: เขียนฟังก์ชั่น ของคำนวณช่วงเวลาเป็นวินาทีของช่วงเวลามีการใช้ค่า default ของ onput โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกวันแค่ 1 วัน โดยไม่ต้องมีการimtorp function

def time_diff_in_seconds(start_time, end_time, start_day=None, end_day=None):
    # กำหนดชื่อวันในสัปดาห์และจำนวนวินาทีต่อวัน
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    seconds_per_day = 86400

    # แยกเวลาชั่วโมง นาที วินาที
    def parse_time(time_str):
        h, m, s = map(int, time_str.strip().split(':'))
        return h * 3600 + m * 60 + s

    # หาวัน index
    def get_day_index(day_name):
        return weekdays.index(day_name.capitalize())

    # กรณีไม่ระบุวัน ให้ถือว่าเป็นวันเดียวกัน
    if start_day is None:
        start_day = weekdays[0]
    if end_day is None:
        end_day = start_day

    start_seconds = parse_time(start_time)
    end_seconds = parse_time(end_time)
    start_day_index = get_day_index(start_day)
    end_day_index = get_day_index(end_day)

    # คำนวณจำนวนวันห่าง
    day_diff = (end_day_index - start_day_index) % 7

    # วินาทีรวม = จำนวนวันที่ห่าง * วินาทีต่อวัน + เวลาห่าง
    total_seconds = day_diff * seconds_per_day + (end_seconds - start_seconds)
    return total_seconds

In [ ]:
print(time_diff_in_seconds('12:30:15', '13:41:07', 'Wednesday', 'Thursday'))  # ข้ามวัน
print(time_diff_in_seconds('12:30:15', '13:41:07', 'Wednesday'))             # วันเดียวกัน
print(time_diff_in_seconds('12:30:15', '13:41:07'))                          # วันเดียวกัน (ไม่ใส่วัน)
print(time_diff_in_seconds('16:06:09', '11:11:11', 'Sunday', 'Tuesday'))

90652
4252
4252
155102

# ตัวอย่าง Quiz 6

In [ ]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

def time_diff_in_seconds(start_time, end_time, start_day=None, end_day=None):
    # กำหนดชื่อวันในสัปดาห์และจำนวนวินาทีต่อวัน
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    seconds_per_day = 86400

    # แยกเวลาชั่วโมง นาที วินาที
    def parse_time(time_str):
        h, m, s = map(int, time_str.strip().split(':'))
        return h * 3600 + m * 60 + s

    # หาวัน index
    def get_day_index(day_name):
        return weekdays.index(day_name.capitalize())

    # กรณีไม่ระบุวัน ให้ถือว่าเป็นวันเดียวกัน
    if start_day is None:
        start_day = weekdays[0] # กำหนดค่าเริ่มต้นเป็นวันจันทร์ ถ้าไม่ได้ระบุ
    if end_day is None:
        end_day = start_day

    start_seconds = parse_time(start_time)
    end_seconds = parse_time(end_time)
    start_day_index = get_day_index(start_day)
    end_day_index = get_day_index(end_day)

    # คำนวณจำนวนวันห่าง
    # ถ้า end_day น้อยกว่า start_day index แสดงว่าข้ามสัปดาห์
    if end_day_index < start_day_index:
        day_diff = (end_day_index + 7) - start_day_index
    else:
        day_diff = end_day_index - start_day_index

    # วินาทีรวม = จำนวนวันที่ห่าง * วินาทีต่อวัน + เวลาห่าง (ในวันเดียวกัน)
    total_seconds = day_diff * seconds_per_day + (end_seconds - start_seconds)

    # ปรับกรณีที่เวลาสิ้นสุดน้อยกว่าเวลาเริ่มต้นในวันเดียวกัน
    if day_diff == 0 and end_seconds < start_seconds:
      total_seconds += seconds_per_day # เพิ่ม 1 วันถ้าเวลาสิ้นสุดน้อยกว่าเวลาเริ่มต้น

    return total_seconds

print(f"12:30:15 Wednesday - 13:41:07 Thursday: {time_diff_in_seconds('12:30:15', '13:41:07', 'Wednesday', 'Thursday')} วินาที")
print(f"12:53:15 Monday - 00:59:25 Tuesday: {time_diff_in_seconds('12:53:15', '00:59:25', 'Monday', 'Tuesday')} วินาที")
print(f"16:06:09 Sunday - 11:11:11 Tuesday: {time_diff_in_seconds('16:06:09', '11:11:11', 'Sunday', 'Tuesday')} วินาที")
print(f"12:30:15 Wednesday - 13:41:07 Wednesday: {time_diff_in_seconds('12:30:15', '13:41:07', 'Wednesday')} วินาที")
print(f"12:30:15 - 13:41:07: {time_diff_in_seconds('12:30:15', '13:41:07')} วินาที")
print(f"23:00:00 Monday - 01:00:00 Tuesday: {time_diff_in_seconds('23:00:00', '01:00:00', 'Monday', 'Tuesday')} วินาที")
print(f"23:00:00 Monday - 01:00:00 Monday: {time_diff_in_seconds('23:00:00', '01:00:00', 'Monday')} วินาที")

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# inspect existing function

* https://www.w3schools.com/python/ref_func_print.asp



* https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Bunyanut':
    print( i, end = '-> /\n')

B-> /
u-> /
n-> /
y-> /
a-> /
n-> /
u-> /
t-> /

In [ ]:
for i in 'Bunyanut':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

B -> / u -> / n -> / y -> / a -> / n -> / u -> / t -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) #ตัวแรกเป็นตัวเริ่มทึบ , ตัวที่ 2 ตัวจบ โปร่ง , ตัวที่ 3 สเต็ปข้าม

[-3, 1, 5, 9, 13, 17]

# วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Bunyanut':
    print (f' สมาชิกคือ {i} เป็นลำดับ {index}')
    index += 1

 สมาชิกคือ B เป็นลำดับ 0
 สมาชิกคือ u เป็นลำดับ 1
 สมาชิกคือ n เป็นลำดับ 2
 สมาชิกคือ y เป็นลำดับ 3
 สมาชิกคือ a เป็นลำดับ 4
 สมาชิกคือ n เป็นลำดับ 5
 สมาชิกคือ u เป็นลำดับ 6
 สมาชิกคือ t เป็นลำดับ 7

In [ ]:
for index,i in enumerate('Bunyanut'):
    print (f' สมาชิกคือ {i} เป็นลำดับ {index}')

 สมาชิกคือ B เป็นลำดับ 0
 สมาชิกคือ u เป็นลำดับ 1
 สมาชิกคือ n เป็นลำดับ 2
 สมาชิกคือ y เป็นลำดับ 3
 สมาชิกคือ a เป็นลำดับ 4
 สมาชิกคือ n เป็นลำดับ 5
 สมาชิกคือ u เป็นลำดับ 6
 สมาชิกคือ t เป็นลำดับ 7

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

#Quiz 7
วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้
Ex:
- 1
- 2 4
- 3 6 9
- 4 8 12 16
- 5 10 15 20 25

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [ ]:
print_feelings('แก้ม',list_friends)

แก้ม คิดถึง คุณหนูเบียร์
แก้ม คิดถึง พ่อใหญ่เฟิร์ส
แก้ม คิดถึง อ้ายสีหนุ่ม
แก้ม คิดถึง จ่าหนึ่ง
แก้ม คิดถึง บักโส

In [ ]:
print_feelings('แก้ม',list_friends,feeling='ซัง')

แก้ม ซัง คุณหนูเบียร์
แก้ม ซัง พ่อใหญ่เฟิร์ส
แก้ม ซัง อ้ายสีหนุ่ม
แก้ม ซัง จ่าหนึ่ง
แก้ม ซัง บักโส

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

In [ ]:
print_feelings('แก้ม','พ่อใหญ่เฟิร์ส')

แก้ม คิดถึง พ
แก้ม คิดถึง ่
แก้ม คิดถึง อ
แก้ม คิดถึง ใ
แก้ม คิดถึง ห
แก้ม คิดถึง ญ
แก้ม คิดถึง ่
แก้ม คิดถึง เ
แก้ม คิดถึง ฟ
แก้ม คิดถึง ิ
แก้ม คิดถึง ร
แก้ม คิดถึง ์
แก้ม คิดถึง ส

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# HW 3
## **เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้**
```
[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]
```

* HW2 : คำนวณช่วงเวลาเป็นวินาทีของช่วงเวลาต่อไปนี้โดยใช้คำสั่ง split() ช่วย

12:30:15, wednesday - 13:41:07 Thursday

12:53:15, Monday - 00:59:25, Tuesday

16:06:09, Sunday - 11:11:11, Tuesday

* Quiz 6 :เขียนฟังก์ชั่น ของ HW2 มีการใช้ค่า default ของ onput โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกวันแค่ 1 วัน

In [ ]:
# prompt: เขียนฟังก์ชั่น ของคำนวณช่วงเวลาเป็นวินาทีของช่วงเวลามีการใช้ค่า default ของ onput โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกวันแค่ 1 วัน โดยไม่ต้องมีการimtorp function เพิ่ม loop เข้าไปใน  โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้
# [
#     ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
#     ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
#     ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
#     ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
#     ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
#     ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
#     ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
#     ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
#     ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
#     ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
# ]

def time_diff_in_seconds(start_time, end_time, start_day=None, end_day=None):
    # กำหนดชื่อวันในสัปดาห์และจำนวนวินาทีต่อวัน
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    seconds_per_day = 86400

    # แยกเวลาชั่วโมง นาที วินาที
    def parse_time(time_str):
        h, m, s = map(int, time_str.strip().split(':'))
        return h * 3600 + m * 60 + s

    # หาวัน index
    def get_day_index(day_name):
        # If day_name is already an index, return it directly.
        if isinstance(day_name, int):
            return day_name % 7
        return weekdays.index(day_name.capitalize())

    # กรณีไม่ระบุวัน ให้ถือว่าเป็นวันเดียวกัน
    if start_day is None:
        start_day = weekdays[0] # Default to Monday if not provided
    if end_day is None:
        end_day = start_day

    start_seconds = parse_time(start_time)
    end_seconds = parse_time(end_time)
    start_day_index = get_day_index(start_day)
    end_day_index = get_day_index(end_day)

    # คำนวณจำนวนวันห่าง
    day_diff = (end_day_index - start_day_index) % 7

    # คำนวณวินาทีรวม
    total_seconds = day_diff * seconds_per_day + (end_seconds - start_seconds)

    # ปรับให้เป็นค่าบวกถ้าเวลา end_time น้อยกว่า start_time และวันเดียวกัน
    if total_seconds < 0:
      total_seconds += 7 * seconds_per_day # Add a week's worth of seconds

    return total_seconds

# Example usage based on the provided test cases
time_periods = [
    ("10:00:00", "Monday", "11:30:00", "Monday", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time (should wrap around)
    ("23:00:00", "Sunday", "01:00:00", "Monday", 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse - should wrap around)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse - should wrap around)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", "Monday", 24*3600 - 1), # Almost 24 hours later (same day specified)
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
    ("10:00:00", "Monday", "11:30:00", None, 5400),  # Same day, end_day is None
    ("11:30:00", None, "10:00:00", "Monday", 5400),  # Same day, start_day is None (should use default Monday)
    ("12:30:15", "Wednesday", "13:41:07", "Thursday", None), # Test case from HW2 (Expected value is not given here, but function should calculate)
    ("12:53:15", "Monday", "00:59:25", "Tuesday", None), # Test case from HW2
    ("16:06:09", "Sunday", "11:11:11", "Tuesday", None), # Test case from HW2

]

for start_time, start_day, end_time, end_day, expected_seconds in time_periods:
    calculated_seconds = time_diff_in_seconds(start_time, end_time, start_day, end_day)
    print(f"{start_time}, {start_day}, - {end_time}, {end_day} \n -> คำนวณได้: {calculated_seconds:,} วินาที")
    if expected_seconds is not None:
        print(f"  เวลาที่คาดหวัง: {expected_seconds:,} วินาที \n ตรงกับค่าคาดหวัง?: {calculated_seconds == expected_seconds}\n")

10:00:00, Monday, - 11:30:00, Monday
 -> คำนวณได้: 5,400 วินาที
  เวลาที่คาดหวัง: 5,400 วินาที
 ตรงกับค่าคาดหวัง?: True

11:30:00, Monday, - 10:00:00, Monday
 -> คำนวณได้: 599,400 วินาที
  เวลาที่คาดหวัง: 5,400 วินาที
 ตรงกับค่าคาดหวัง?: False

23:00:00, Sunday, - 01:00:00, Monday
 -> คำนวณได้: 7,200 วินาที
  เวลาที่คาดหวัง: 7,200 วินาที
 ตรงกับค่าคาดหวัง?: True

01:00:00, Monday, - 23:00:00, Sunday
 -> คำนวณได้: 597,600 วินาที
  เวลาที่คาดหวัง: 7,200 วินาที
 ตรงกับค่าคาดหวัง?: False

10:00:00, Tuesday, - 11:30:00, Thursday
 -> คำนวณได้: 178,200 วินาที
  เวลาที่คาดหวัง: 178,200 วินาที
 ตรงกับค่าคาดหวัง?: True

11:30:00, Thursday, - 10:00:00, Tuesday
 -> คำนวณได้: 426,600 วินาที
  เวลาที่คาดหวัง: 178,200 วินาที
 ตรงกับค่าคาดหวัง?: False

12:00:00, Monday, - 12:00:00, Monday
 -> คำนวณได้: 0 วินาที
  เวลาที่คาดหวัง: 0 วินาที
 ตรงกับค่าคาดหวัง?: True

12:00:00, Monday, - 12:00:00, Tuesday
 -> คำนวณได้: 86,400 วินาที
  เวลาที่คาดหวัง: 86,400 วินาที
 ตรงกับค่าคาดหวัง?: True

00:00:00, Monday, - 23:59:59, Monday
 -> คำนวณได้: 86,399 วินาที
  เวลาที่คาดหวัง: 86,399 วินาที
 ตรงกับค่าคาดหวัง?: True

23:59:59, Sunday, - 00:00:00, Monday
 -> คำนวณได้: 1 วินาที
  เวลาที่คาดหวัง: 1 วินาที
 ตรงกับค่าคาดหวัง?: True

10:00:00, Monday, - 11:30:00, None
 -> คำนวณได้: 5,400 วินาที
  เวลาที่คาดหวัง: 5,400 วินาที
 ตรงกับค่าคาดหวัง?: True

11:30:00, None, - 10:00:00, Monday
 -> คำนวณได้: 599,400 วินาที
  เวลาที่คาดหวัง: 5,400 วินาที
 ตรงกับค่าคาดหวัง?: False

12:30:15, Wednesday, - 13:41:07, Thursday
 -> คำนวณได้: 90,652 วินาที
12:53:15, Monday, - 00:59:25, Tuesday
 -> คำนวณได้: 43,570 วินาที
16:06:09, Sunday, - 11:11:11, Tuesday
 -> คำนวณได้: 155,102 วินาที

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [1]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [2]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [3]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

| คือ or , หรือ

In [4]:
a = 2 < 3
print(a)

True

In [6]:
b = 7 in range(7)
print(b)

False

In [7]:
a & b

False

In [8]:
a | b

True

In [9]:
if 2 < 3 & 7 in range(10):
    print('yes')

yes

In [10]:
if (1>0) & (0>-1):
    print(True & True)

True

In [11]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

## break คือการออกจาก Loop

In [18]:
# ไม่มี Break

numbers = [0 , 2 , 8 , 24 , 5 ,60 , 70 , 81 , 9 , 10]
#สร้างฟังก์ชันตรวจสอบว่าใน list มีเลขคี่ หรือไม่

def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')

    print('ไม่มีเลขคี่')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
มีเลขคี่ คือ 81
มีเลขคี่ คือ 9
ไม่มีเลขคี่

In [16]:
# มี Break
numbers = [0 , 2 , 8 , 24 , 5 ,60 , 70 , 81 , 9 , 10]
#สร้างฟังก์ชันตรวจสอบว่าใน list มีเลขคี่ หรือไม่

def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
            break
    print('ไม่มีเลขคี่')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
ไม่มีเลขคี่

In [25]:
# return แล้วหลุดออกจากฟังก์ชัน

numbers = [0 , 2 , 8 , 24 , 5 ,60 , 70 , 81 , 9 , 10]
#สร้างฟังก์ชันตรวจสอบว่าใน list มีเลขคี่ หรือไม่

def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
            return
    print('ไม่มีเลขคี่')
    return input_list

check_odd_in_list(numbers)
check_odd_in_list([0 , 2 , 8 , 24])

มีเลขคี่ คือ 5
ไม่มีเลขคี่

[0, 2, 8, 24]

# Finish